/* fondo que hace el efecto de slideDown */
.bg-modal, .bg-modal2, .bg-modal3{
    width: 100%;
    height: auto;
    background-color:rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

/* contenido de los slideDowns */
.modal-content, .modal-content2, .modal-content3{
    width: 850px;
    height: auto;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
    margin: 10px auto;
    z-index: 1000;
}

/* para dar tamano a los iconos circulares del menu */
.sIcons{
    width: 100px;
}

/* para colocar y rotar el + que actua como x que cierra los desplegables */
.close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

/* ajustes en colocacion del formulario */
form{
    width: 100%;
    padding-left: 100px;
}

/* ajustes en colocacion de input y textarea */
input, textarea{
    width:360px;
    margin-top: 20px;
}
